.App {
    display: flex;
    justify-content: center;
    text-align: center;

    padding-top: 30px;
}
.BigCube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 460px;
    border: 2px solid #000;
}

.inBigCube {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: inherit;
    width: 400px;
    height: 400px;
    border: 1px solid grey;
}

.dark {
    width: 60px;
    height: 60px;
    border: 1px solid darkseagreen;
    background-color: darkseagreen;
}
.white {
    width: 60px;
    height: 60px;
    border: 1px solid lightseagreen;
    background-color: lightseagreen;
}
.reset {
    margin: 30px;
    width: 200px;
}